/* font-family: 'Montserrat', sans-serif;
font-family: 'Source Sans Pro', sans-serif; */

/* header */
#heading
{
  background-color: lightgrey;
  width: 100%;
  padding-top: 120px;
  padding-bottom: 10px;
  margin-bottom: 30px;
  font-family: 'Source Sans Pro', sans-serif;
  letter-spacing: 1px;
}
body header h1, body header h2
{
  padding: 0px 0px;
  color: #e67300;
  text-align: right;
  letter-spacing: 5px;
}


/* body section */
body img
{
  width: 100%;
  margin: 10px 0;
}

body p, body li
{
  line-height: 2;
  letter-spacing: 1px;
  text-align: justify;
  font-family: 'Source Sans Pro', sans-serif;
}

body h1
{
  letter-spacing: 4px;
  font-family: 'Montserrat', sans-serif;
  color: #008000;
  padding: 15px 0px;
  font-weight: 600;
}

body h2
{
  letter-spacing: 3px;
  font-family: 'Montserrat', sans-serif;
  padding-bottom: 20px;
  padding-top: 20px;
}

body h3
{
  font-family: 'Montserrat', sans-serif;
  padding: 10px 30px;
}

.paddingBottom
{
  padding-bottom: 100px;
}

.paragraph
{
  padding: 20px 0px;
}


/* home */
body h4
{
  font-family: 'Montserrat', sans-serif;
}

.carousel-caption
{
  padding-bottom: 40px;
}


/* projects */
.projectPadding
{
  padding: 20px 0px;
}

.project1
{
  width: 100%;
  padding: 30px 50px;
  color: white;
  background-color: #003300;
  margin-bottom: 30px;
}

.project2
{
  width: 100%;
  padding: 30px 50px;
  color: white;
  background-color: #e67300;
  margin-bottom: 30px;
}


/* about me */
.rounded-circle
{
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 60px;
  max-width: 400px;"
}

.skills
{
  background-color: grey;
  padding: 30px 30px;
  margin: 30px;
}

.card-header
{
  background-color: black;
}

/* contact */
.contactCard
{
  max-width: 22rem;
  font-family: 'Montserrat', sans-serif;
  letter-spacing: 1px;
}

.centeredCards
{
  align-items: center;
}

.icon
{
  padding-right: 30px;
}

/* footer */
#columnfooter
{
  background-color: lightgrey;
  padding: 20px 20px;
  font-family: 'Source Sans Pro', sans-serif;
  letter-spacing: 1px;
}
ul li
{
  padding: 5px 0px;
}
