
<section id="columnfooter">
  <div class="container">
    <div class="row">
      <div class="col-sm">
        &copy; Alina Littek 2018 All Rights reserved.
      </div>
      <div class="col-sm">
        <ul style="list-style-type: none;">
          <li><i class="fas fa-envelope-square"></i>  E-mail: arglittek@dundee.ac.uk </li>
          <li><i class="fab fa-facebook-square"></i>  Facebook: Alina Littek </li>
          <li><i class="fas fa-phone-square"></i>  Telephone: 0000000000 </li>
        </ul>
      </div>
    </div>
  </div>
</section>
