
<section id="columnfooter">
  <div class="container">
    <div class="row">

      <div class="col-sm">
        &copy; Alina Littek 2018 All Rights reserved.
      </div>

<div class="col-sm">
      <table class="table">
        <tbody>
          <tr>
            <th scope="row"></th>
            <td><i class="fas fa-envelope-square"></i></td>
            <td>E-mail</td>
            <td>arglittek@dundee.ac.uk</td>
          </tr>
          <tr>
            <th scope="row"></th>
            <td><i class="fab fa-facebook-square"></i></td>
            <td>Facebook</td>
            <td>Alina Littek</td>
          </tr>
          <tr>
            <th scope="row"></th>
            <td><i class="fas fa-phone-square"></i></td>
            <td>Telephone</td>
            <td>0000000000</td>
          </tr>
        </tbody>
      </table>
      </div>

    </div>
  </div>
</section>
