
<div class="container-fluid" id="columnfooter">
  <div class="container">
    <div class="row">

      <!-- copyright statement -->
      <div class="col-sm copyright">
        &copy; Alina Littek 2018 All Rights reserved.
      </div>

      <!-- table with adress details -->
      <div class="col-sm">
        <table class="table">
          <tbody>
            <tr>
              <th scope="row"></th>
              <td><i class="fas fa-envelope-square fa-2x"></i></td>
              <td>arglittek@dundee.ac.uk</td>
            </tr>
            <tr>
              <th scope="row"></th>
              <td><i class="fab fa-facebook-square fa-2x"></i></td>
              <td>Alina Littek</td>
            </tr>
            <tr>
              <th scope="row"></th>
              <td><i class="fas fa-phone-square fa-2x"></i></td>
              <td>0000000000</td>
            </tr>
          </tbody>
        </table>

      </div>
    </div>
  </div>
</div>
